:root{
    --text-dark: rgb(68, 55, 45); 
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-image: url(./assets/background.jpg);
}

h1{
    color:  var(--text-dark);
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin-bottom: 0px;
    font-size: 5em;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    max-width: 800px;
    margin: 0 auto;
  }

#square{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 10px;
    flex-wrap: wrap;
    max-width: 800px;
}

.carre{
    width: 200px;
    height: 200px;
    background: white;
    opacity: 90%;
    font-size: 2em;
    text-align: center;
    margin: 5px;
    border-radius: 5px;
    cursor : pointer;
    color: var(--text-dark);
    font-size: 11em;
}

.carre:nth-child(2n){
    margin-left: 5px;
}

.carre:hover{
    background-color: rgb(223, 193, 152);
}

.clicked{
    cursor: default;

}

/* Define styles for X player */
.board-x .current-player {
    color: red;
  }
  
  /* Define styles for O player */
  .board-o .current-player {
    color: blue;
  }

 img{
    width: 100px;
    height:100px;
    display: none;
 }

 .affichage{
    width: 640px;
    height: 70px;
    margin-bottom: 10px;
    background-color: white;
    opacity: 90%;
    border-radius: 5px;
 }