:root{
    --text-dark: rgb(58, 47, 39);
    --text-light: rgb(209, 209, 209);
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-image: url(./assets/background1.jpg);
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}

h1{
    color:  var(--text-light);
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin-bottom: 0px;
    font-size: 5em;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    max-width: 800px;
    margin: 0 auto;
  }

#square{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 5px;
    flex-wrap: wrap;
    max-width: 800px;
}

.carre{
    width: 200px;
    height: 200px;
    background: white;
    opacity: 80%;
    font-size: 2em;
    text-align: center;
    margin: 5px;
    border-radius: 5px;
    cursor : pointer;
    color: var(--text-dark);
    font-size: 11em;
    font-family: sans-serif;
}

.carre:hover{
    background-color: rgb(161, 161, 161);
}

.clicked{
    cursor: default;
}

.gagné{
    background-color: green;
}
.score{
    display: flex;
    justify-content: right;
    align-items: center;
    width: 630px;
    height: 50px;
    margin-bottom: 10px;
    background-color: white;
    opacity: 80%;
    border-radius: 5px;
    overflow: hidden;
    padding: 20px;
 }
 
 button{
    justify-content: right;
    border-radius : 5px;
    font-size: 1rem;
    background-color: white;
    border : 1px solid white;
    padding: .25em .5em;
    cursor: pointer;
    color: var(--text-dark);
 }

 button:hover{
    background-color: rgb(212, 250, 242);
    color: var(--text-dark);
    border-color: white;
 }

 #winningMessageText{
    width: 450px;
    height: 50px;
    font-family: sans-serif;
    color: black;
    font-size: 1em;
    justify-content: left;
 }

 #turn-message{
    font-family: sans-serif;
    color: var(--text-dark);
 }